$primary-color: #000;
$secondary-color: Crimson;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

p {
    color: $primary-color;

    span {
        color: $secondary-color;
    }
}